<% include ../partials/header%>
<div class="bg">
    <ul class="bgGallery">
        <li class="galleryItem"></li>
        <li class="galleryItem"></li>
        <li class="galleryItem"></li>
    </ul>

    <div class="ui basic segment">
        <div class="main">
            <h1 class="ui header">מלא אוכל טעים</h1>
            <div class="ui form">
                <input type="text" placeholder="Email">
            </div>
        </div>
    </div>

    
</div>

<% include ../partials/footer%>