<% include ../partials/header%>
<div class="bg">
    <ul class="bgGallery">
        <li class="galleryItem"></li>
        <li class="galleryItem"></li>
        <li class="galleryItem"></li>
    </ul>


</div>

<div class="ui stackable grid">
    <div class="five wide large screen only column"></div>
    <div class="six wide column"></div>
    <div class="five wide large screen only column"></div>
    <div class="five wide large screen only column"></div>
    <div class="six wide large screen only column"></div>
    <div class="four wide column">
        <div class="main">
            <h1 class="ui header">מלא אוכל טעים</h1>
            <div class="ui form">
                <input id="emailInputWidth" type="text" placeholder="Email">
            </div>
            <h2>תזמין עכשיו תקבל אח"כ</h2>
            <hr>
            <p><strong> Description: </strong> Start learning mean stack today with this book that is optimized
                for experiential learning.</p>
                <hr>
                <h2> Only for $$ 39.00 </h2>
                <hr>
                <a href="/buy">
                    <i class="huge cc paypal icon"></i>
                </a>
            </div>
        </div>
        <div class="one wide large screen only column"></div>
    </div>

    <% include ../partials/footer%>